name: Build Storybook and publish to gh-pages (main + dev)

on:
  push:
    branches:
      - main
      - development

    permissions:
      contents: write

jobs:
  Build-For-GH-Pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build Storybook
        run: npm run build-storybook

      - name: Decide destination folder
        run: |
          if [ "${{ github.ref_name }}" = "main" ]; then
            echo "DEST_DIR=." >> $GITHUB_ENV
          else
            echo "DEST_DIR=dev" >> $GITHUB_ENV
          fi

  Deploy-To-GH-Pages:
    runs-on: ubuntu-latest
    needs: Build-For-GH-Pages

    permissions:
      contents: write

    steps:
      - name: Publish to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./storybook-static
          destination_dir: ${{ env.DEST_DIR }}
          keep_files: true

    
